/*ブックマークバー透明化*/
.bookmark-bar,
.color-behind-tabs-off .bookmark-bar button,
.color-behind-tabs-on .bookmark-bar,
.color-behind-tabs-on .bookmark-bar button {
  background: rgba(0, 0, 0, 0.15);
  border: none;
}

/* Simple Automate Bookmark-bar */
/* bottom bookmark-bar */
.bookmark-bar-bottom .bookmark-bar {margin-top: -28px; z-index: 1; transform: translateY(0); transition: transform .1s 0s !important;}
.bookmark-bar-bottom .bookmark-bar::before {content: ''; position: absolute; height: 4px; width: 100%; bottom: 100%;}
.bookmark-bar-bottom .bookmark-bar:not(:focus-within):not(:hover) {transform: translateY(100%);  transition: transform .1s 1s !important;}

/* top bookmark-bar */
.bookmark-bar-top .bookmark-bar {
  margin-bottom: -28px; z-index: 1; 
  transform: translateY(0); 
  transition:  transform .15s linear .15 !important;
  /*backdrop-filter: blur(10px);*/
}
.bookmark-bar-top .bookmark-bar::before {
  content: ''; 
  position: absolute; 
  height: 12px; 
  width: 100%; 
  top: 100%;}
/* option A: trigger zone below lowest TOP bar */
.bookmark-bar-top .bookmark-bar:not(:focus-within):not(:hover) {
  transform: translateY(-100%);  
  transition: transform .1s 1s !important;
}
/* option B: trigger by focus/mouseover header, tabbar, or URL bar */
/.address-top.bookmark-bar-top #header:not(:hover) ~ #main .toolbar-mainbar:not(:focus-within):not(:hover) ~ .bookmark-bar:not(:focus-within):not(:hover) {transform: translateY(-100%);  transition: transform .1s 1s !important;}
/:not(.address-top).bookmark-bar-top #header:not(:hover) ~ #main > .bookmark-bar:not(:focus-within):not(:hover) {transform: translateY(-100%);  transition: transform .1s 1s !important;}

