/*panel bar automate hide*/
#panels-container.overlay.left,
#panels-container.overlay.right {
   opacity: 1;
   position: absolute;
   z-index: 1;
   height: 100%;
   /*transition-property: opacity;
   transition-duration: .15s .15s;*/
    transition:  transform .15s linear .15s, opacity .15s linear .15s;
}



/* Right side is glitchy (dunno why) and will teleport to left without this: */
#panels-container.overlay.right {
   right: 0px;
}

#panels-container.overlay.left:not(:hover) {
   transform: translateX(-14px);
   opacity: .01;
   transition-property: transform .1s 1s, opacity;
   transition-duration: .8s , 1;
   transition-delay: 1.2s !important;
}

#panels-container.overlay.right:not(:hover) {
   transform: translateX(28px);
   opacity: 0.15;
   transition-property: transform, opacity;
   transition-duration: .8s , 1s;
   transition-delay: 1.2s !important;
}